@media (max-width: 900px) {
    .content {
        margin: 5px;
    }
}

@media (min-width: 901px) {
    .content {
        margin: 120px;
    }
}

.content {
    font-family: Arial;
    font-weight: normal;
}