html * {
    font-family: Arial;
}

body {
    margin:0;
}

/* HEADER */
@media (max-width: 900px) {
    li a {
        padding: 7px 8px;
        font-size:75%;
    }
}

@media (min-width: 901px) {
    li a {
        padding: 14px 16px;
        font-size:100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* BODY */


fieldset {
    margin: 8px;
    border: 1px solid #333;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
}

legend {
    padding: 2px;
}


.removeStrategyButt:hover {
    background: red;
}

.runSimButt:hover {
    background: green;
}

.compareButt:hover {
    background: yellow;
}

.trinityGraphButt:hover {
    background: yellow;
}
.percentGraphButt:hover {
    background: yellow;
}
.compareGraphButt:hover {
    background: yellow;
}

.displayStatsButt:hover {
    background: yellow;
}

/* DROPDOWNS */
.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #aaaaaa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.CreateSimulation {
    width: 300px;
    float: left;
}

.Strategy {
    width: 300px;
    float: left;
}

#actualBody:after {
    clear: both;
}

#actualBody {
    font-weight: bold;
    padding:20px;
}


#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.Results {
    float: right;
}
.Key {
    float: right;
}
table, th, td {
   border: 1px solid black;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

legend {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label[type=submit], select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background: #aaaaaa;
}

label[type=key], select {
    padding-bottom: 1px;
    display: inline-block;
    border-bottom: 1px;
}

.constspan, .rampspan, .yearspan {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 3px 1px;
    margin: 1px 1px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    font-size: 105%;
}
.constspan, .rampspan {
    width: 229px;
}
.inputspan {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    padding: 2px 1px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    font-size: 105%;
}

.constimage, .stocksrampimage, .bondsrampimage {
    padding: 3px 5px;
    margin: 2px 0;
    float: right;
}

.inputspan input {
    border: 0;
    display: inline-block;
    width: 92%;
    font-size: 105%;
    font-weight: normal;
}

.constspan input {
    border: 0;
    display: inline-block;
    width: 80%;
    font-size: 105%;
    font-weight: normal;
}

.rampspanborder {
    border: 1px solid #ccc;
    border-radius: px;
    padding: 3px 1px;
    margin: 1px 1px;
}
.rampspan input {
    border: 0;
    display: inline-block;
    width: 49px;
    font-size: 105%;
    font-weight: normal;
    text-align: right;
}
.yearspanborder {
    border: 1px solid #ccc;
    border-radius: px;
    padding: 3px 1px;
    margin: 1px 1px;
}
.yearspan input {
    border: 0;
    display: inline-block;
    width: 80px;
    font-size: 105%;
    font-weight: normal;
}

/* indicating a clear lack of understanding of css... */
input[name=retirement_length] {
    width: 75%
}