<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sim - BETA</title>
    <link rel="stylesheet" type="text/css" href="/static/style/sim.css" />
    <script src="/static/scripts/displaySim.js"></script>
</head>
<body>
    <p id="simgraph"></p>
    <p>Hello simulation. This shows a gk run, with some stock parameters.</p>
    <p id="replaceme">something</p>
    <script src="//d3js.org/d3.v4.min.js" charset="utf-8"></script></script>
    <script src="/static/scripts/displaySim.js"></script>
    <button type="button"
        onclick="
        d3.json('/dbg/gkexample', function(simResults) {
            showSimulation(simResults);
        });
        ">
        Butt
    </button>
</body>
</html>